<div class="main-wrapper">

  <!-- Sidebar -->
  <div class="sidebar" [class.collapsed]="collapsed">
    <!-- Logo & Toggle -->
    <div class="logo-toggle">
      <div class="logo text-white fw-bold">logo</div>
      <button class="toggle-btn" (click)="toggleSidebar()">

        {{ collapsed ? '>' : '<' }} </button>
    </div>

    <!-- Profile Info -->
    <!-- Always show profile box -->
    <div class="profile-box mt-3">
      <img src="assets/profile.png" alt="profile" (click)="userDetails=true" style="cursor: pointer;"
        class="profile-img" />

      <!-- Only hide this part when collapsed -->
      <div class="profile-info" *ngIf="!collapsed">
        <div class="profile-name">{{userName}}</div>
        <div class="profile-role">{{userRole}}</div>
      </div>
    </div>


    <!-- User Details Modal -->
    <div class="user-details-backdrop" *ngIf="userDetails" (click)="closeUserDetails()">
      <div class="user-details-content" (click)="$event.stopPropagation()">
        <app-user-details></app-user-details>
      </div>
    </div>


    <!-- Sidebar Menu -->
    <ul class="nav flex-column sidebar-menu w-100 mt-4">
      <li class="nav-item">
        <div class="sidebar-item d-flex align-items-center">
          <i class="bi bi-house-door-fill"></i>
          <span *ngIf="!collapsed"><i class="fa-solid fa-house"></i></span>
        </div>
      </li>
      <li class="nav-item">
        <div class="sidebar-item d-flex align-items-center">
          <i class="bi bi-plus-circle"></i>
          <span *ngIf="!collapsed" (click)="openAddInviteModal()"><i class="fa-regular fa-square-plus"></i></span>
        </div>
      </li>
      <li class="nav-item">
        <div class="sidebar-item d-flex align-items-center">
          <i class="bi bi-list-ul"></i>
          <span *ngIf="!collapsed">User List</span>
        </div>
      </li>
    </ul>
  </div>

  <!-- Add User Modal (Invite User) -->
  <div class="invite-user-backdrop" *ngIf="addInviteModal" (click)="closeAddInviteModal()">
    <div class="invite-user-content" (click)="$event.stopPropagation()">
      <app-invite-user></app-invite-user>
    </div>
  </div>


  <!-- Main Content inside wrapper -->
  <div class="content flex-grow-1 p-2">
    <!-- Topbar -->
    <div class="d-flex align-items-center mb-3 flex-wrap gap-2">
      <div class="search-bar">
        <input type="text" placeholder="Search...">
        <span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
      </div>

      <!-- Sort Dropdown -->
      <div class="dropdown">
        <button class="btn btn-light btn-lg" data-bs-toggle="dropdown">
          <i class="bi bi-filter" (click)="filterModal=true"></i>
        </button>
      </div>

      <div class="dropdown">
        <button class="btn btn-light btn-lg" data-bs-toggle="dropdown">
          <i class="bi bi-blockquote-right"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">Name</a></li>
          <li><a class="dropdown-item" href="#">Create Date</a></li>
        </ul>
      </div>


      <!-- Filter Modal  -->
      <div class="filter-backdrop" *ngIf="filterModal" (click)="closeFilterModal()">
        <div class="filter-content" (click)="$event.stopPropagation()">
          <app-filter (close)="closeFilterModal()"></app-filter>
        </div>
      </div>


      <div class="ms-auto d-flex gap-2">
        <button class="btn" [ngStyle]="{ 'background-color': '#FF544C', color: 'white' }">Org. Roles</button>
        <button class="btn" [ngStyle]="{ 'background-color': '#FF544C', color: 'white' }"
          (click)="openAddInviteModal()">Invite User</button>
      </div>
    </div>


    <!-- Table -->
    <div class="table-responsive">
      <table class="table text-center align-middle">
        <thead>
          <tr>
            <th style="background-color: #FF544C; color: white;">Name</th>
            <th style="background-color: #FF544C; color: white;">Email</th>
            <th style="background-color: #FF544C; color: white;">Role</th>
            <th style="background-color: #FF544C; color: white;">Mobile</th>
            <th style="background-color: #FF544C; color: white;">Create Date</th>
            <th style="background-color: #FF544C; color: white;">Status</th>
            <th style="background-color: #FF544C; color: white;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>
              <!-- <img src="https://i.pravatar.cc/30" class="rounded-circle me-2" /> -->
              {{ user.name }}
            </td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.mobile?.mobile_number}}</td>
            <!-- <td>{{ user.create_date | date:'dd/MM/yyyy, h:mm a' }}</td> -->
            <td>{{ user.create_date | date:'dd/MM/yyyy'}}</td>
            <td>{{ user.status }}</td>
            <td>
              <div class="dropdown">
                <button class="btn btn-light" data-bs-toggle="dropdown">
                  <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item-dot" href="#"><i class="bi bi-trash me-2"></i>Delete</a></li>
                  <li><a class="dropdown-item-dot" href="#"><i class="bi bi-pencil me-2"></i>Edit</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>