<div class="invite-user-card">
  <div class="invite-user-header">
    <h2>Change Password</h2>
  </div>
  <form>
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <input id="newPassword" name="newPassword" type="password" class="form-control" [(ngModel)]="newPassword" required autofocus/>
    </div>
    <div class="form-group">
      <label for="cPassword">Confirm Password</label>
      <input id="cPassword" name="confirmPassword" type="password" class="form-control" [(ngModel)]="confirmPassword" required/>
    </div>
    <div class="form-group">
      <label for="oldPassword">Old Password</label>
      <input id="oldPassword" name="oldPassword" type="password" class="form-control" [(ngModel)]="oldPassword" required/>
    </div>
     
    <div class="form-actions">
      <button type="button" class="btn btn-danger" (click)="changePassword()">Change Password</button>
    </div>
  </form>
</div>