<div class="invite-user-card">
  <div class="invite-user-header">
    <h2>Change Password</h2>
  </div>
  <form>
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <div class="password-wrapper">
        <input id="newPassword" name="newPassword" type="{{ passwordVisible ? 'text' : 'password' }}"
          class="form-control" [(ngModel)]="newPassword" required autofocus />
        <span class="toggle-password" (click)="togglePasswordVisibility()">
          <i [ngClass]="passwordVisible ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
        </span>
      </div>
    </div>

    <div class="form-group">
      <label for="cPassword">Confirm Password</label>
      <div class="password-wrapper">
        <input id="cPassword" name="confirmPassword" type="{{ passwordVisible ? 'text' : 'password' }}"
          class="form-control" [(ngModel)]="confirmPassword" required />
        <!-- <span class="toggle-password" (click)="togglePasswordVisibility()">
          <i [ngClass]="passwordVisible ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
        </span> -->
      </div>
    </div>

    <div class="form-group">
      <label for="oldPassword">Old Password</label>
      <div class="password-wrapper">
        <input id="oldPassword" name="oldPassword" type="{{ passwordVisible ? 'text' : 'password' }}"
          class="form-control" [(ngModel)]="oldPassword" required />
        <!-- <span class="toggle-password" (click)="togglePasswordVisibility()">
          <i [ngClass]="passwordVisible ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
        </span> -->
      </div>
    </div>


    <div class="form-actions">
      <button type="button" class="btn btn-danger" (click)="changePassword()">Change Password</button>
    </div>
  </form>
</div>