<div class="invite-user-card">
  <div class="invite-user-header">
    <h2>Invite User</h2>
  </div>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" name="name" type="text" class="form-control" placeholder="Enter Name" [(ngModel)]="name" required autofocus/>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" name="email" type="email" class="form-control" placeholder="Enter Email" [(ngModel)]="email"required/>
    </div>
    <div class="form-group">
      <div class="checkbox-container">
        <label class="usertype">Usertype</label>
        <input type="radio" name="usertype" value="ADMIN" [(ngModel)]="usertype" required/> Admin
        <input type="radio" name="usertype" value="SALES" [(ngModel)]="usertype"/>Sales
      </div>
    </div>
    <div class="form-actions">
      <button type="button" class="btn btn-primary">Invite And Next</button>
      <button type="button" class="btn btn-danger" (click)="inviteUser()">Invite User</button>
    </div>
  </form>
</div>