.invite-user-card {
  background-color: white;
  width: 100%;
  border-radius: 8px;
}

.invite-user-header h2 {
  margin: 0;
  padding: 10px;
  font-size: 18px;
  background-color: #FF544C;
  color: white;
  font-weight: 600;
  border-radius: 5px 5px 0 0;
}

.form-group {
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  color: black;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.btn-primary, .btn-danger {
  background-color: #FF544C;
  color: white;
}

.btn-primary:hover, .btn-danger:hover {
  background-color: #d32f2f;
}