body {
  background: #f8f9fa;
  font-family: 'Proxima Nova', sans-serif;
}

.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.left-image {
  position: relative;
  z-index: 2;
}

.illustration-img {
  max-height: 500px;
  margin-right: -60px;
}

.form-container {
  max-width: 600px;
  max-height: 500px;
  width: 100%;
  background: none;
  padding: 40px 70px;
  border-radius: 8px;
  z-index: 1;
  position: relative;
}

.form-title {
  font-size: 40px;
  font-weight: 600;
  color: #000000;
}

.form-subtitle {
  font-size: 14px;
  color: #606060;
  font-weight: 300;
}

.form-label {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

.form-control {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
}

.form-control:focus {
  border-color: #1d2b53;
  box-shadow: none;
}

.btn-login {
  background-color: #1d2b53;
  color: #fff;
  border-radius: 6px;
  font-weight: 600;
  padding: 10px 0;
}

.btn-signup {
  border: 1px solid #1d2b53;
  color: #1d2b53;
  border-radius: 6px;
  font-weight: 600;
  padding: 10px 0;
}

.link {
  color: #000;
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
}

.form-check-label {
  font-size: 14px;
  color: #606060;
}

.error-message {
  font-size: 13px;
  color: red;
}

.form-group {
  margin-bottom: 20px;
}
